html, body, #root {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.App {
  /*height: calc(100% - 60px);*/
  /*padding-bottom: 60px;*/
  width: 100%;
  height: 100%;
}

.Main {
  width: 100%;
  height: 100%;
}

.Main-Logo {
  max-height: 150px;
  margin-bottom: 25px;
  margin-top: 50px;
}

.Main-text {
  font-size: 18px;
  color: #093263;
}

h2 {
  margin-top: -100px;
  margin-bottom: 50px;
  font-size: 30px;
}

.Dropzone {
  cursor: pointer;
  width: 100%;
  height: calc(100% - 60px - 4px);
  display: flex;
  /*justify-content: center;*/
  flex-direction: column;
  align-items: center;
  /*transition: all 1s;*/
  box-sizing: border-box;
  border-width: 5px;
  border-color: white;
  border-style: dashed;
  transition: all 250ms ease-in-out;
  transition-property: box-border-color background-color;
}

.Dropzone-active {
  border-color: #333;
  background-color: #ccc;
}

.Metrics {
  display: flex;
  padding: 25px;
  flex-wrap: wrap;
  max-width: 80%;
  margin-left: 10%;
}

.Metric {
  margin: 10px;
}

.JSONMetric pre {
  font-size: 12px;
  padding-right: 50px;
}

.JSONMetric {
}

.FileName {
  display: block;
  font-size: 30px;
  width: 100%;
  margin-bottom: 20px;
}
